{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "env": {},
  "plugins": [
    "babel"
  ],
  "extends": [
    "eslint:recommended",
    "./node_modules/@taikonauten/linters-js/eslint/index.js"
  ]
}
